<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LoansPQ.WebServices.Wrappers.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <LoansPQ.WebServices.Wrappers.My.MySettings>
      <setting name="LoansPQWSWrappers_penley_authentication_PenleyAuthenticationServiceService"
        serializeAs="String">
        <value>https://soap.penleyinc.com/penleysoap3/services/authentication</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_eplinc_mpidev_WebServiceFacade"
        serializeAs="String">
        <value>https://mpidev.eplinc.com:4444/ipws/ipowerws</value>
      </setting>
      <setting name="LoansPQWSWrappers_DPIntegration_IntegrationConfirm"
        serializeAs="String">
        <value>https://65.200.30.29/IntegrationConfirmWSE2/Confirm.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_iQQService_iQQService" serializeAs="String">
        <value>https://api.q2solutions.com/API.asp</value>
      </setting>
      <setting name="LoansPQWSWrappers_PathwaySoap_CmdSpectrumService"
        serializeAs="String">
        <value>http://192.168.25.20:8216/mfcu/pathways/services/CmdSpectrum</value>
      </setting>
      <setting name="LoansPQWSWrappers_penley_idverification_IDVerificationServiceService"
        serializeAs="String">
        <value>https://soap.penleyinc.com/penleysoap3/services/idverification</value>
      </setting>
      <setting name="LoansPQWSWrappers_FastStart_FastStartWebService"
        serializeAs="String">
        <value>c:\LoansPQ2\LoansPQWSWrappers\Web References\FastStart\FastStart.wsdl</value>
      </setting>
      <setting name="LoansPQWSWrappers_ProcessCreditAppDecision_ProcessCreditAppDecision"
        serializeAs="String">
        <value>https://dp.cudl.com/ProcessDecisionWSE2/ProcessCreditAppDecision.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_ExtCUDLComm_ExtCUDLComm" serializeAs="String">
        <value>https://dp.cudl.com/ExternalCUDLCommWSE3/ExtCUDLComm.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_DeluxeDetectService_DeluxePPSService"
        serializeAs="String">
        <value>https://deluxedetect-webservice.deluxe.com/ddws/services/DeluxePPSService</value>
      </setting>
      <setting name="LoansPQWSWrappers_ExternalFunding_ExtFunding"
        serializeAs="String">
        <value>https://dp.cudl.com/ExternalFundingWSE3/FundingWSE3.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_Unity_UnityMeridianLinkWS" serializeAs="String">
        <value>http://unitytest.swbc.com/uinterface/testmeridianlink/UnityMeridianLinkWS.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_Cohesion_CohesionConnect" serializeAs="String">
        <value>https://65.242.1.237/SharedCohesionWebServiceMLTest/CohesionConnect.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_OdysseyService_Service" serializeAs="String">
        <value>https://www.odysseyservices.net/owspreview/service.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_GalaxyService_MRPAacRequest"
        serializeAs="String">
        <value>https://mrp1.cunetbranch.com/mrpwebservice/mrpaacrequest.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_LibertyService_LibertyOrders"
        serializeAs="String">
        <value>https://b2b.libertysite.com/webservices/DP2LDWeb/LibertyOrders.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_Northwest_MeridianLoanApplication"
        serializeAs="String">
        <value>http://10.10.0.76/MeridianLoanApplication/MeridianLoanApplication.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_TotalPlusService_BISYS_DNPService"
        serializeAs="String">
        <value>http://192.168.244.40/DNPWS/DNPService.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_CUDLNetFund_CUDLNetFund_WSE3"
        serializeAs="String">
        <value>https://hermes.cudl.com/CUDLNetFund_WSE3/CUDLNetFund_WSE3.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_OpenPath_TEServer" serializeAs="String">
        <value>https://openpath.kernfcu.org/teserver/teserver.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_GalaxyDisburseService_TransactionService"
        serializeAs="String">
        <value>https://REPLACE_WITH_ACTUAL_URL</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU_NameAddress_NameAddressService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/member/NameAddressService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU_OpenCloseAccount_OpenCloseAccountService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/account/OpenCloseAccountService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_DepositPro_DPConnectService_DPConnect_Service"
        serializeAs="String">
        <value>http://localhost:8081</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU_AccountAssociation_AccountAssociationService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/member/AccountAssociationService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU_Card_Card_MSSOAP_HTTP_Service"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/card/CardService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU_MemberNotes_MemberNotes_HTTP_Service"
        serializeAs="String">
        <value>http://lnxmqdev:7080/member/NotesService/20070420</value>
      </setting>
      <setting name="LoansPQWSWrappers_EPL_NewDepositAccountService_NewDepositAccountService"
        serializeAs="String">
        <value>https://localhost:4443/webserv/services/NewDepositAccountService/2008-08-01</value>
      </setting>
      <setting name="LoansPQWSWrappers_XP_Member2_MemberServices" serializeAs="String">
        <value>http://localhost/XPWeb/Services/Apex/2006/MemberServices.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_TotaleAtlasService_FileTransferExt"
        serializeAs="String">
        <value>http://demo.immonline.com/teaasp/filetransferext.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_iQQService12_iQQService" serializeAs="String">
        <value>https://api.q2solutions.com/API.asp</value>
      </setting>
      <setting name="LoansPQWSWrappers_LendersOffice_LoansPQ_x0020_Web_x0020_Service"
        serializeAs="String">
        <value>http://localhost/lendersofficeapp/los/webservice/LoansPQ.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_IWSQuoteService_IQQ" serializeAs="String">
        <value>http://www.iwstraining.com/iqq.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_CCMService_CcmWebService" serializeAs="String">
        <value>http://66.202.110.241/ccmtestws/ccmwebservice.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_NADA_Login_SecureLogin" serializeAs="String">
        <value>https://internal.nada.com/nadavehicle_ws/secure/securelogin.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_NADA_Vehicle_Vehicle" serializeAs="String">
        <value>https://internal.nada.com/nadavehicle_ws/vehicle.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_BlackBook_UsedCar_UsedCarWS"
        serializeAs="String">
        <value>https://www.blackbookws.com/UsedCarWS.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_BlackBook_PowerSports_PowerSportsWS"
        serializeAs="String">
        <value>https://www.blackbookws.com/PowerSportsWS.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_BlackBook_CPI_CPIWS" serializeAs="String">
        <value>http://www.blackbookguides.com/webservices/cpiws.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_EFundsKbaService_KbaServiceService"
        serializeAs="String">
        <value>https://penleyincqa.penleyinc.com/penleysoap3/services/efundskba</value>
      </setting>
      <setting name="LoansPQWSWrappers_EFundsAccountOwnershipService_MicrServiceService"
        serializeAs="String">
        <value>https://penleyincqa.penleyinc.com/penleysoap3/services/efundsmicr</value>
      </setting>
      <setting name="LoansPQWSWrappers_FirstAmerican_ElsWebOrder" serializeAs="String">
        <value>https://dev.elsonline.net/elsweborder.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_RCOService_MemberService" serializeAs="String">
        <value>http://rcoqa1.rcolmstead.com:10020/LoanOrigination/MemberService.svc</value>
      </setting>
      <setting name="LoansPQWSWrappers_OpenPath2009_1012_TEServer"
        serializeAs="String">
        <value>http://yourserver/teserver/teserver.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_LoansPQ_Consumer_GetSSOToken_GetSSOToken"
        serializeAs="String">
        <value>http://loanspq.localhost/services/consumer/GetSSOToken.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_summitsite_icenter_CmdSpectrumService"
        serializeAs="String">
        <value>https://icenter.summitsite.com:7443/fiserv/SpectrumTest1/wsiservices/CmdSpectrum</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU16_AccountAssociation_AccountAssociationService"
        serializeAs="String">
        <value>http://lnxmqdev:7080/member/AccountAssociationService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU16_MemberNotes_MemberNotesProxy_HTTP_Service"
        serializeAs="String">
        <value>http://lnxmqdev:7080/member/NotesService/20070420</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU16_MultiTransaction_MultiTransactionService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/account/MultiTransactionsService/20090213</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU16_NameAddress_NameAddressService"
        serializeAs="String">
        <value>http://10.215.141.15:7080/member/NameAddressService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU16_OpenCloseAccount_OpenCloseAccountService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/account/OpenCloseAccountService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU17_AlertCodeRestriction_AlertCodeRestrictionService"
        serializeAs="String">
        <value>http://lnxmqdev:7080/account/AlertCodeRestriction/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_CorrectAddressService_CorrectAddressWebService"
        serializeAs="String">
        <value>http://www.intelligentsearch.com/CorrectAddressWS/CorrectAddressWebService.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_ISTWatchWebService_ISTWatchWebService"
        serializeAs="String">
        <value>http://www.intelligentsearch.com/ISTwatchWS/ISTwatchWebService.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCUBadDebtService_BadDebtService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/account/BadDebtService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU15_DelinquencyService_DelinquencyService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/account/DelinquencyService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU17_LoanScoreService_LoanScore_MSSOAP_HTTP_Service"
        serializeAs="String">
        <value>http://lnxmqdev:7080/account/LoanScoreService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_LendersOffice_Loan_Loan" serializeAs="String">
        <value>https://secure.lendersoffice.com/los/webservice/Loan.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_LendersOfficer_AuthService_AuthService"
        serializeAs="String">
        <value>https://secure.lendersoffice.com/los/webservice/AuthService.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU17_MultiTransaction_MultiTransactionService"
        serializeAs="String">
        <value>http://lnxmqdev.americafirst.com:7080/account/MultiTransactionsService/20090213</value>
      </setting>
      <setting name="LoansPQWSWrappers_OpenPath2010_11_TEServer" serializeAs="String">
        <value>https://op.sanfranciscofcu.com/TEServer/TEServer.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_IWCService_UtilityPort" serializeAs="String">
        <value>http://demo.loanliner.com/gateway/gatewaysecured/utility/10/Utility.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_EBankService_MLDepositMethods"
        serializeAs="String">
        <value>http://10.209.0.16/C1Interface/MLDepositMethods.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_FIS_UDIRequest_UDIRequestSVC"
        serializeAs="String">
        <value>http://uat.udi.local/wsB2KFacade/UDIRequest.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_RSAService_CarbonWebService"
        serializeAs="String">
        <value>https://staging.verid.com:443/carbon/ws</value>
      </setting>
      <setting name="LoansPQWSWrappers_Mortrac_LoanImportService" serializeAs="String">
        <value>http://10.108.4.71:8080/webservice/LoanImportService</value>
      </setting>
      <setting name="LoansPQWSWrappers_Mortrac_MortgageEntityService_MortgageEntityService"
        serializeAs="String">
        <value>https://websvct.test.flagstar.com/fsb-domainservice/dev/MortgageEntityService</value>
      </setting>
      <setting name="LoansPQWSWrappers_OpenPath2010_99_TEServer" serializeAs="String">
        <value>http://pls-vm-qaae1/teserver/teserver.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU17_RiskSCore_RiskScoreService"
        serializeAs="String">
        <value>http://lnxmqdev:7080/account/RiskScore/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_PayPal_svcs_AdaptivePayments"
        serializeAs="String">
        <value>https://svcs.paypal.com/AdaptivePayments</value>
      </setting>
      <setting name="LoansPQWSWrappers_NorthwestXAService_AccountOpening"
        serializeAs="String">
        <value>http://devloanspq.nwfcu.org/MrdnAcctOpening/AccountOpening.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_EFundsChexService_ChexSystemsServiceService"
        serializeAs="String">
        <value>https://penleyincqa.penleyinc.com/fissoap1/services/chexsystems</value>
      </setting>
      <setting name="LoansPQWSWrappers_EFundsBusinessService_BusinessServiceService"
        serializeAs="String">
        <value>https://penleyincqa.penleyinc.com/fissoap1/services/business</value>
      </setting>
      <setting name="LoansPQWSWrappers_TotaleAtlas5_FileTransferExt_FileTransferExt"
        serializeAs="String">
        <value>http://demo.immonline.com/TeA510/TeAASP/FileTransferExt.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_cyberridge_ws_Service" serializeAs="String">
        <value>https://ws.cyberridge.com/AvidAcceptancewebservice/Service.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_DepositPro_DPConnectService_2012_DPConnect_Service"
        serializeAs="String">
        <value>http://localhost:8081</value>
      </setting>
      <setting name="LoansPQWSWrappers_AccessAdvantage_EHPRMR" serializeAs="String">
        <value>https://www.mo.accessadvantage.integrasys.biz/EHPRMR/WebServices/EHPRMR.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_TMG_ServiceTokenProvider_ServiceTokenProvider"
        serializeAs="String">
        <value>https://openservices.beta.themembersgroup.com/servicetokenprovider.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_TMG_AccountMaintenance_AccountMaintenance"
        serializeAs="String">
        <value>https://openservices.themembersgroup.com/accountmaintenance.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_UnityService8_MeridianLinkWS"
        serializeAs="String">
        <value>http://beta.swbc.com/unitynetmlpdf/meridianlinkws.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_firstdata_globalgatewaye4_Service"
        serializeAs="String">
        <value>https://api.globalgatewaye4.firstdata.com/transaction/v12</value>
      </setting>
      <setting name="LoansPQWSWrappers_USAlliance_AchAccountService"
        serializeAs="String">
        <value>http://localhost:8080/usa/AchAccountService/AchAccount</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_epl_LoanCodeListService_LoanCodeListService"
        serializeAs="String">
        <value>https://shubdmz.eplinc.com:4443/webserv/lending/loancodes</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_epl_LendingInquiryService_LendingInquiryService"
        serializeAs="String">
        <value>https://shubdmz.eplinc.com:4443/webserv/lending/lendinginquiry</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_epl_BookLoanService_BookLoanService"
        serializeAs="String">
        <value>https://shubdmz.eplinc.com:4443/webserv/lending/bookloan</value>
      </setting>
      <setting name="LoansPQWSWrappers_Mortrac_LoanImportService_LoanImportService"
        serializeAs="String">
        <value>http://10.108.4.75:8080/webservice/LoanImportService</value>
      </setting>
      <setting name="LoansPQWSWrappers_CUDLConnectUnderwriting_ProcessDecisionRequestUnderwriting"
        serializeAs="String">
        <value>http://loanspq.localhost/services/star/CudlConnect/ProcessDecisionrequestService.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_DocuSign_APIService" serializeAs="String">
        <value>https://demo.docusign.net/api/3.0/api.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_CUDLConnectDecision_CUDLConnectInboundService"
        serializeAs="String">
        <value>https://dp.cudl.com/cudlconnect/cudlconnect.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_TMG_AccountViews_AccountViews"
        serializeAs="String">
        <value>https://openservices.beta.themembersgroup.com/accountviews.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_com_fiserv_spectrum_pathways_SubmitCreditReportImportService"
        serializeAs="String">
        <value>https://pathways.spectrum.fiserv.com:443/pathways/wsiservices/SubmitCreditReportImportService</value>
      </setting>
      <setting name="LoansPQWSWrappers_Phoenix_PhoenixXM" serializeAs="String">
        <value>http://192.168.50.152/phoenixws/staging2xm/phoenixxm.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_AFCU2015_1_Card_CardService"
        serializeAs="String">
        <value>http://ltadevb1:7080/card/CardService/20070315</value>
      </setting>
      <setting name="LoansPQWSWrappers_FirstAmerican_Login_MyFAMS"
        serializeAs="String">
        <value>https://uat.firstamericannavigator.com/API/MyFAMS.svc</value>
      </setting>
      <setting name="LoansPQWSWrappers_TMGBillerSearch_Utilities" serializeAs="String">
        <value>https://openservices.themembersgroup.com/utilities.asmx</value>
      </setting>
      <setting name="LoansPQWSWrappers_EPL_LoanOriginationService_LoanOriginationService"
        serializeAs="String">
        <value>http://localhost:9989/webserv/services/LoanOriginationService/2006-05-01</value>
      </setting>
      <setting name="LoansPQWSWrappers_EPL_UserAuthentication_UserAuthenticationService"
        serializeAs="String">
        <value>http://localhost:9989/webserv/services/UserAuthenticationService/2006-05-01</value>
      </setting>
    </LoansPQ.WebServices.Wrappers.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SOAPApplicationSubmissionServletv2PortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SOAPApplicationSubmissionServletv2PortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.lend-pro.com:443/lp/LPSOAPv2"
        binding="basicHttpBinding" bindingConfiguration="SOAPApplicationSubmissionServletv2PortBinding"
        contract="LendPro.SOAPApplicationSubmissionServletv2" name="SOAPApplicationSubmissionServletv2Port" />
    </client>
  </system.serviceModel>
</configuration>
