<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LoansPQ.WebServices.Wrappers.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LoansPQ.WebServices.Wrappers.My.MySettings>
      <setting name="LoansPQWrappers_Acumen_Configuration_BusinessDate" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/BusinessDate</value>
      </setting>
      <setting name="LoansPQWrappers_Acumen_Custom_CustomerService" serializeAs="String">
        <value>https://207.141.23.28:443/ispectrum-webservices/CustomerService</value>
      </setting>
      <setting name="LoansPQWrappers_Acumen_Customer_CustomerProfile" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/CustomerProfile</value>
      </setting>
      <setting name="LoansPQWrappers_Acumen_Account_SavingAccount" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/SavingAccount</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_Monetary_Monetary" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/Monetary</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_LoanAccount_LoanAccount" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/LoanAccount</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_ProductConfig" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/ProductConfig</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_LoanOrignation_Loan" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/Loan</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_InstitutionConfig_InstitutionConfig" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/InstitutionConfig</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_Card_Card" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/Card</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_Ejournal_Ejournal" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/Ejournal</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_CustomerService_CustomerService" serializeAs="String">
        <value>https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/CustomerService</value>
      </setting>
      <setting name="LoansPQWSWrappers_Acumen_Acumen_CardConfig_CardConfig" serializeAs="String">
        <value>https://gocuCorvallis.acumenasp.fiserv.com:443/ispectrum-webservices/CardConfig</value>
      </setting>
    </LoansPQ.WebServices.Wrappers.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
