<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVintagePowersportsService">
                    <security mode="Transport" />
                </binding>
                <binding name="soap">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IUsedPowersportsService">
                    <security mode="Transport" />
                </binding>
                <binding name="soap1">
                    <security mode="Transport" />
                </binding>
                <binding name="soap2">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.jdpowerwebservices.com/VintagePowersportsService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVintagePowersportsService"
                contract="JDPowerOther2.VintageMotocycleService.IVintagePowersportsService"
                name="BasicHttpBinding_IVintagePowersportsService" />
            <endpoint address="https://www.jdpowerwebservices.com/UsedRVsService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="soap" contract="JDPowerOther2.RVService.IUsedRVsService"
                name="soap" />
            <endpoint address="https://www.jdpowerwebservices.com/UsedPowersportsService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsedPowersportsService"
                contract="JDPowerOtherr2.PowerSportsService.IUsedPowersportsService"
                name="BasicHttpBinding_IUsedPowersportsService" />
            <endpoint address="https://www.jdpowerwebservices.com/UsedMarineService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="soap1" contract="JDPowerOther2.MarineService.IUsedMarineService"
                name="soap1" />
            <endpoint address="https://www.jdpowerwebservices.com/ClassicCarsService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="soap2" contract="JDPowerOther2.ClassicCarsService.IClassicCarsService"
                name="soap2" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
