<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoansPQ.WebServices.Wrappers.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <LoansPQ.WebServices.Wrappers.My.MySettings>
            <setting name="JXChange20111_Deposit_DepositService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Deposit.svc</value>
            </setting>
            <setting name="JXChange20111_JXChange20111_Image_ImageService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Image.svc</value>
            </setting>
            <setting name="JXChange20111_JXChange20111_Inquiry_InquiryService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Inquiry.svc</value>
            </setting>
            <setting name="JXChange20111_JXChange20111_Loan_LoanService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Loan.svc</value>
            </setting>
            <setting name="JXChange20111_JXChange20111_Transaction_TransactionService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Transaction.svc</value>
            </setting>
            <setting name="LoansPQWSWrappers_JXChange20111_JXChange20111_Custom_CustomService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Custom.svc </value>
            </setting>
            <setting name="LoansPQWSWrappers_JXChange20111_JXChange20111_Customer_CustomerService" serializeAs="String">
                <value>https://jackhenry.com/jxchange/2008/ServiceGateway/Customer.svc </value>
            </setting>
        </LoansPQ.WebServices.Wrappers.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
