<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoansPQ.WebServices.Wrappers.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <LoansPQ.WebServices.Wrappers.My.MySettings>
            <setting name="LoansPQWSWrappers_FiservCPS_FiservCPS_CreateCreditApplication_CreateCreditApplicationService"
                serializeAs="String">
                <value>http://198.185.237.9:8035/AccountInquiry?FMO</value>
            </setting>
            <setting name="LoansPQWSWrappers_FiservCPS_CreateCommercialAccountApplV2_CreateCommercialAccountApplV2Service"
                serializeAs="String">
                <value>http://192.168.0.97:8035/CreateCommercialAccountAppl_V0200</value>
            </setting>
            <setting name="LoansPQWSWrappers_FiservCPS_CreateCompanyCreditApplicationV2_CreateCompanyCreditApplicationV2Service"
                serializeAs="String">
                <value>http://192.168.0.97:8035/CreateCompanyCreditApplication_V0200</value>
            </setting>
            <setting name="LoansPQWSWrappers_FiservCPS_FiservCPS_RelationshipMaintenanceV2_RelationshipMaintenanceV2Service"
                serializeAs="String">
                <value>http://192.168.0.97:8035/RelationshipMaintenance_V0200</value>
            </setting>
        </LoansPQ.WebServices.Wrappers.My.MySettings>
    </applicationSettings>
</configuration>
