<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LoansPQ.WebServices.Wrappers.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LoansPQ.WebServices.Wrappers.My.MySettings>
      <setting name="LoansPQWSWrappers_ConnectWare_CISAccountProfile_mtvnCWCIAcctPrflWSV7"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CIAcctPrflWSV7</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CISCustomerSearchByCustomerNumber_mtvnCWCICustNbrSrchWSV7"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CICustNbrSrchWSV7</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CSICustomerSearchByTaxNumber_mtvnCWCICustTaxNbrSrchWSV7"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CICustTaxNbrSrchWSV7</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CISCustomerToAccountRelationship_mtvnCWCICustToAcctRltWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CICustToAcctRltWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CISOpenIndividualCustomer_mtvnCWCIOpenIndvCustWSV4"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CIOpenIndvCustWSV4</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CISRelationshipDemographicUpdate_mtvnCWCIRltDemogUpdtWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CIRltDemogUpdtWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CISRelationshipDemographicInquiry_mtvnCWCIRltDemogInqWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CIRltDemogInqWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_DepositNewAccount_mtvnCWDPNewAcctWSV4"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/DPNewAcctWSV4</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_DepositHoldAdd_mtvnCWDPHoldAddWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/DPHoldAddWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_DepositAccountNumberGenerator_mtvnCWDPAcctNbrGenWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/DPAcctNbrGenWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_CISSingleCommitPointProcessing_FinancialConnectWebSvcV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CustomerInfoSystemSCPWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNoteInquiry_mtvnCWLNNoteInqWSV8"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNoteInqWSV8</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanManualFeeAssessment_mtvnCWLNManFeeWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNManFeeWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNewAccount_mtvnCWLNNewAcctWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNewAcctWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNewCommitment_mtvnCWLNNewCommtWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNewCommtWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNewNote_mtvnCWLNNewNoteWSV6"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNewNoteWSV6</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNewChangeNameAndAddress_mtvnCWLNNewNmeAddrWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNewNmeAddrWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNoteIncrease_mtvnCWLNNoteIncrWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNoteIncrWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNotePayment_mtvnCWLNNotePmtWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNotePmtWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanAutomatedFeeSetup_mtvnCWLNAutoFeeSetpWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNAutoFeeSetpWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanNoteCollateralMainenance_mtvnCWLNNoteCollMaintWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNoteCollMaintWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanAccountNumberGenerator_mtvnCWLNAcctNbrGenWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNAcctNbrGenWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_IFMSDefictFundsTransfer_mtvnCWFMDfctTrsfrSetpWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/FMDfctTrsfrSetpWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_LoanSingleCommitPointProcessing_FinancialConnectWebSvcV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LoanSCPWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_CISCustomerRelationshipInquiry_mtvnCWCICustRltInqWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CICustRltInqWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_CISCustomerProfile_mtvnCWCICustPrflWSV6"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CICustPrflWSV6</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_LoanNoteListInquiry_mtvnCWLNNoteListInqWSV2"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNNoteListInqWSV2</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_LoanFloodTrackingMaintenance_mtvnCWLNFloodTrackingMaintWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/LNFloodTrackingMaintWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_CISCustomerEmailMaintenance_mtvnCWCICustEmailMaintWSV1"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/CICustEmailMaintWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_DepositAccountInquiry_mtvnCWDPAcctInqWSV8"
        serializeAs="String">
        <value>https://xmlgateway.metavante.org/ConnectwareWS/DPAcctInqWSV8</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_CICustomerDueDiligence_mtvnCWCICustDueDiligenceWSV1"
        serializeAs="String">
        <value>https://ih-excust-other.fisglobal.com/ConnectwareWS/CICustDueDiligenceWSV1</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_LoanHMDAMaintenance1_mtvnCWLNHMDAMaintWSV3"
        serializeAs="String">
        <value>https://ih-excust-other.fisglobal.com/ConnectwareWS/LNHMDAMaintWSV3</value>
      </setting>
      <setting name="LoansPQWSWrappers_ConnectWare_ConnectWare_LoanUserDefinedFields_mtvnCWLNUsrDefFldsWSV2"
        serializeAs="String">
        <value>https://ih-excust-other.fisglobal.com/ConnectwareWS/LNUsrDefFldsWSV2</value>
      </setting>
    </LoansPQ.WebServices.Wrappers.My.MySettings>
  </applicationSettings>
</configuration>