<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InterfaceServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InterfaceServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="InterfaceServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://unitynet.swbc.com/interfaceservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="InterfaceServiceSoap"
                contract="InterfaceService.InterfaceServiceSoap" name="InterfaceServiceSoap" />
            <endpoint address="https://unitynet.swbc.com/interfaceservice.asmx"
                binding="customBinding" bindingConfiguration="InterfaceServiceSoap12"
                contract="InterfaceService.InterfaceServiceSoap" name="InterfaceServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>
